# Created by https://www.gitignore.io/api/godot,scala,metals
# Edit at https://www.gitignore.io/?templates=godot,scala,metals

### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
export_web/

# Mono-specific ignores
.mono/

### Metals ###
server/.metals/
server/.bloop/

### Scala ###
*.class
*.log
*.metals
server/project/
server/target/
target/

# End of https://www.gitignore.io/api/godot,scala,metals

# custom
misc
*.md5
*.stex
fonts/